footer{
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: -20px;
 
   
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerImg{
    cursor: pointer;
   width: 50px;
   height: 50px;
}
.footer{
    text-align: center;
}
.span{
    cursor: pointer;
    color: red;
}