header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerContainer{
    display: flex;
}
.headerContainer ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: 100px;
    cursor: pointer;
    color: rgb(180, 73, 73);
}

.headerLogo img{
    width: 50px;
}
